body {
  overflow-x: hidden;
  background-color: #f493f2;
  font-family: sans-serif, Helvetica, Arial;
  color: #080808;
}

.title {
  color: #e400e0;
  font-size: 50px;
  text-align: center;
  animation-duration: 3s;
  animation-name: slidein;
}

.container-movie-cards {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-evenly;
}

.movie-card {
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 250px;
  border: 1px solid #78184a;
  border-radius: 20px;
}

.movie-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 15px 15px 8px 8px;
}

.movie-card-text {
  padding: 5px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
